.regFormInline{
    padding-top:20px;
}

#registration-name-input, 
#registration-username-input,
#registration-password-input{
    height:30px;
    margin:10px;
}
#submit{
    height:30px;
    width: 70px;
    margin: 5px;
    background: transparent;
    border: 1.5px solid #000000;
}
.registrationButton{
    text-align: right;
}
fieldset, label{
    display: inline-flex;
    text-align: right;
}
/* .registrationForm input{
    display:grid;
} */
footer{
    margin: 10px;
}
@media screen and (max-width:400px){
    fieldset, label{
        display: inline-flex;
        text-align: center;
    }
    .registrationForm input{
    display:grid;
}
}