.dashboard{
    text-align: center;
    justify-content: center;
}
.dashboardFieldset{
text-align: left;
margin-bottom: 10px;
}
.startPracticeButton{
    text-align: right;
}
.startPracticeButton button{
    background: transparent;
    height: 30px;
    width: 120px;
    border: 1.5px solid #000000;
}
.dashboard ul{
    list-style-type: none;
    padding:0;
    word-spacing: 5px;
}
.dashboard li{
    margin: 10px;
}